h1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-decoration: underline;
    color: rgb(21, 20, 18);
}
body{
    background-color:#548687;
    
    width:100%;
}
* {
    margin: 0;
    padding: 0;
}
.container{
    height:70vh;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    

}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:black;
    



}
.hide{
    display:none;
}
#msg{
    color:#ffffc7;
    font-size:5vmin;
    margin-left: 30%;

}
.msg-container{
    height:30vmin;
    
}
#new-btn{
    padding:1rem;
    font-size:1.27rem;
    background-color: #242409;
    color: aliceblue;
    border-radius: 1rem;
    border:none;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-left:40%;
    margin-bottom: 50px;
    width:20%;
}
#reset{
    padding:1rem;
    font-size:1.27rem;
    background-color: #242409;
    color: aliceblue;
    border-radius: 1rem;
    border:none;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-left:40%;
    width:20%;
}